{{define "yield"}}

<div class="columns">
  <div class="column">
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            DungeonBook
          </h1>
          <h2 class="subtitle">
            For the social player
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>

{{end}}
